.header {
  margin-top: 0%;
  width: 100%;
  height: 120px;
  background-color: rgb(150, 215, 250);
  
}

.header_logo {
  text-align: left;
  border: rgb(56, 53, 53);
  padding-bottom: 10px;
}
.header_logo img{
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  width: 100px;
  height: 100px;
}
.header_logo h1{
  float: right;
  padding-right: 900px;
  padding-top: 40px;
  color: rgb(55, 55, 117);
}

 .image img{
  overflow: hidden;
   width: 100%;
   height: 700px;
   padding-top: 10px;
   padding-bottom: 10px;
  text-align: center;
}
  
  /*ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(176, 175, 252);
  }
  li{
    float: left;
  }

  li a {
    display: block;
  color: white;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  }*/
  
  .wap{
    overflow: hidden;
    width: 100%;
    margin: auto;
    
  }
  .contenedor-columnas{
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    
  }
  .columnasx3{
    width: 33%;
    float: left;
    padding: 20px 20px;
    box-sizing: border-box;
    margin: 2px;
    background-color:rgb(189, 169, 209); 
    }
  .columnasx3 img{
    width: 380px;
    height: 200px;
    
  }
  footer{
    clear: both;
    background-color: rgb(208, 195, 238);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    text-align: center;
  }
  h3{
    font-size: 20px;
    font-weight: normal;
    background-color: rgb(207, 207, 228);
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 10px;
    overflow: hidden;
  }
  body{
    background-color: rgb(240, 232, 232);
  }
