.header {
  background-color: rgb(15, 61, 85);
}

.header_logo {
  text-align: left;
  border: rgb(56, 53, 53);
  padding-bottom: 10px;
}
.header_logo img{
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  width: 100px;
  height: 100px;
}
.header_logo h1{
  float:right;
  color: rgb(112, 229, 233);
  padding-right: 10%;
  padding-top: 3%;
  
}

 .image img{
  overflow: hidden;
   width: 100%;
   height: 700px;
   padding-top: 10px;
   padding-bottom: 10px;
  text-align: center;
}
  
  /*ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(176, 175, 252);
  }
  li{
    float: left;
  }

  li a {
    display: block;
  color: white;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  }*/
    
  div.galeria{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: auto;
    }
  div.galeria:hover{
     border: 1px solid rgb(69, 231, 231);
    }
  div.galeria img{
    width: auto;
    height: auto;
  }
  div.descripcion{
    padding: 15px;
    text-align: center;
  }
  footer{
    clear: both;
    background-color: rgb(143, 190, 221);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    text-align: center;
  }
  h3{
    font-size: 20px;
    font-weight: normal;
    background-color: rgb(46, 126, 172);
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 10px;
    overflow: hidden;
    color: aquamarine;
  }
  body{
    background-color: rgb(9, 46, 77);
  }
  figcaption{
    color: aquamarine;
  }
  .slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
  }
  .slider ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 20s infinite alternate;
  }
  .slider li{
    width: 100%;
    list-style: none;
  }
  .slider img{
    width: 100%;
  }
  @keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -1005;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
  }


